name: CI Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Java 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Build User Service
        working-directory: user-service/user-service
        run: mvn clean package -DskipTests

      - name: Build Task Service
        working-directory: task-service/task-service
        run: mvn clean package -DskipTests

      - name: Build User Service Docker Image
        working-directory: user-service/user-service
        run: docker build -t user-service:ci .

      - name: Build Task Service Docker Image
        working-directory: task-service/task-service
        run: docker build -t task-service:ci .
